/*

vertical centering
http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/

to center an element vertically in its parent container,
when heights are not known. 

*/

.element {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*
apparently, a further update here:
set the parent to have transform-style: preserve-3d; so that there's no blur.
*/

.parent {
	transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}



