
* {box-sizing: border-box;}
body {width: 100%; background: #fff; font-size: 12px;}


#container {width: 450px; margin: 5em auto; line-height: 0;
	/* this is where it matters */
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-gap: 10px;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;

}

#container article {width: 150px; display: inline-block; margin: 0px 0px 5px 0px;}
#container:after {display: table; content: " "; clear: both;}
article.s {height: 150px; background: #ccc;}
article.m {height: 300px; background: #ddd;}
article.l {height: 450px; background: #eee;}